<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725290981887-ccfv3lb9ig6k94bv6fnac8jvl270bpav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725290981887-ccfv3lb9ig6k94bv6fnac8jvl270bpav</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>725290981887-8m35ftum760qh0dvpotesiiq9htaek9k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCM22B_-xwwnubqvpyiN4pm7jMawCGShsM</string>
	<key>GCM_SENDER_ID</key>
	<string>725290981887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afsoftwaresolutions.uta.urban-transport-app</string>
	<key>PROJECT_ID</key>
	<string>plataformatransporte-b20ba</string>
	<key>STORAGE_BUCKET</key>
	<string>plataformatransporte-b20ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725290981887:ios:99bb6ae592eb6240f16fca</string>
	<key>DATABASE_URL</key>
	<string>https://plataformatransporte-b20ba-default-rtdb.firebaseio.com</string>
</dict>
</plist>